.App {
  text-align: center;
}



.App {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.rowStyle {
  width: 100%;
  height: 10%;

}

.intstyle {
  float: left;
  width: 10%;
  height: 100%;
  /* border: solid 2px black; */
}

.style0 {
  background: blue;
}

.style1 {
  background: red;
}

.style2 {
  background: green;
}

.style3 {
  background: violet;
}

.style4 {
  background: yellow;
}

.style5 {
  background: lightcoral;
}

.style6 {
  background: lightskyblue;
}

.style7 {
  background: gray;
}

.style8 {
  background: greenyellow;
}

.style9 {
  background: plum;
}